.same-height{
    display: flex;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid transparent;
  }
  .yellow{
    color:rgb(255, 193, 7);
  }