.btn{
    color: #dee2e6;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(167, 39, 39);
    border-radius: 0.4rem;
    margin: 5px;
    cursor: pointer;
  }
  .btn-group{
    display: inline-flex;
  }
  .selected{
    background-color: rgb(218, 11, 11);
  }