.load-more-btn{
    width: 98vw;
    background-color: #240b36;
    text-align: center;
    height: 7vh;
  }
  .btn{
    color: #dee2e6;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(167, 39, 39);
    border-radius: 0.4rem;
    margin: 5px;
    cursor: pointer;
  }